# IDE
.vs/
.vscode/**
!.vscode/launch.json
!.vscode/tasks.json
.idea/

# Build Artifacts
/*/obj/
/*/bin/
/bin/
nupkg/
[Bb]uild/
/dist/

# BenchmarkDotNet Artifacts
BenchmarkDotNet.Artifacts/

# User Preferences
*.user
LOCAL_WH851_MACOS_BLUETOOTH_PLAN.md

# MacOS Cache
*.DS_Store

# Nix environment
[Rr]esult
.data/
